.task8_content {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color: #5a5859;
    border-top: 2px solid black;

}
.h4{
    text-align: left;
    font-size: 18px;
}
.paragraph {

    padding-top: 25px;
    line-height: 20px;
}
a{
    color: #ddce3c; 
    text-decoration: underline;
    cursor: pointer;
    font-size: 20px;
}

p {
    color: white;
}
.Sub_headings a{
    color: orange;

}
.hr_line { 
    width:100%;
     height:1px;
     box-shadow: 1px 1px #737272;

}
h1{
color: orange;
text-decoration: underline;
}