   <!-- task8 content block 1 -->
   <div class="task8_content">
<div class="container">
    <!-- row 1 -->
    <h1 class="text-center my-3">Latest Blog Posts</h1>
    
    <div class="row">
        <div class="col-md-3">
            <div class="paragraph">
                <p>[29-OCT-2024]</p>

                <div class=".h4" class="Sub_headings" style="padding: 5px 0px;">
                    <a [routerLink]="['/home']">Aenean a bibendum augue</a>
                </div>
                <p>
                    Praesent eu ligula quis nibh ullamcorper tempor non ultrices lacus. </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="paragraph">
                <p>[28-NOV-2024]</p>

                <div class=".h4" class="Sub_headings" style="padding: 5px 0px;">
                    <a [routerLink]="['/home']">Aenean a bibendum augue</a>
                </div>
                <p>
                    Praesent eu ligula quis nibh ullamcorper tempor non ultrices lacus. </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="paragraph">
                <p>[29-DEC-2024]</p>

                <div class=".h4" class="Sub_headings" style="padding: 5px 0px;">
                    <a [routerLink]="['/home']">Aenean a bibendum augue</a>
                </div>
                <p>
                    Praesent eu ligula quis nibh ullamcorper tempor non ultrices lacus. </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="paragraph">
                <p>[30-JAN-2025]</p>

                <div class=".h4" class="Sub_headings" style="padding: 5px 0px;">
                    <a [routerLink]="['/home']">Aenean a bibendum augue</a>
                </div>
                <p>
                    Praesent eu ligula quis nibh ullamcorper tempor non ultrices lacus. </p>
            </div>
        </div>
    </div>
    <div class="hr_line"></div>
    <!-- row 2 -->
    
    <div class="row">
        <div class="col-md-3">
            <div class="paragraph">
                <p>[29-OCT-2024]</p>

                <div class=".h4" class="Sub_headings" style="padding: 5px 0px;">
                    <a [routerLink]="['/home']">Aenean a bibendum augue</a>
                </div>
                <p>
                    Praesent eu ligula quis nibh ullamcorper tempor non ultrices lacus. </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="paragraph">
                <p>[28-NOV-2024]</p>

                <div class=".h4" class="Sub_headings" style="padding: 5px 0px;">
                    <a [routerLink]="['/home']">Aenean a bibendum augue</a>
                </div>
                <p>
                    Praesent eu ligula quis nibh ullamcorper tempor non ultrices lacus. </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="paragraph">
                <p>[29-DEC-2024]</p>

                <div class=".h4" class="Sub_headings" style="padding: 5px 0px;">
                    <a [routerLink]="['/home']">Aenean a bibendum augue</a>
                </div>
                <p>
                    Praesent eu ligula quis nibh ullamcorper tempor non ultrices lacus. </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="paragraph">
                <p>[30-JAN-2025]</p>

                <div class=".h4" class="Sub_headings" style="padding: 5px 0px;">
                    <a [routerLink]="['/home']">Aenean a bibendum augue</a>
                </div>
                <p>
                    Praesent eu ligula quis nibh ullamcorper tempor non ultrices lacus. </p>
            </div>
        </div>
    </div>
    <div class="hr_line"></div>
    <!-- row 3 -->
    
    <div class="row">
        <div class="col-md-3">
            <div class="paragraph">
                <p>[29-OCT-2024]</p>

                <div class=".h4" class="Sub_headings" style="padding: 5px 0px;">
                    <a [routerLink]="['/home']">Aenean a bibendum augue</a>
                </div>
                <p>
                    Praesent eu ligula quis nibh ullamcorper tempor non ultrices lacus. </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="paragraph">
                <p>[28-NOV-2024]</p>

                <div class=".h4" class="Sub_headings" style="padding: 5px 0px;">
                    <a [routerLink]="['/home']">Aenean a bibendum augue</a>
                </div>
                <p>
                    Praesent eu ligula quis nibh ullamcorper tempor non ultrices lacus. </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="paragraph">
                <p>[29-DEC-2024]</p>

                <div class=".h4" class="Sub_headings" style="padding: 5px 0px;">
                    <a [routerLink]="['/home']">Aenean a bibendum augue</a>
                </div>
                <p>
                    Praesent eu ligula quis nibh ullamcorper tempor non ultrices lacus. </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="paragraph">
                <p>[30-JAN-2025]</p>

                <div class=".h4" class="Sub_headings" style="padding: 5px 0px;">
                    <a [routerLink]="['/home']">Aenean a bibendum augue</a>
                </div>
                <p>
                    Praesent eu ligula quis nibh ullamcorper tempor non ultrices lacus. </p>
            </div>
        </div>
    </div>
    <div class="hr_line"></div>
    <!-- row 4 -->
    
    <div class="row">
        <div class="col-md-3">
            <div class="paragraph">
                <p>[29-OCT-2024]</p>

                <div class=".h4" class="Sub_headings" style="padding: 5px 0px;">
                    <a [routerLink]="['/home']">Aenean a bibendum augue</a>
                </div>
                <p>
                    Praesent eu ligula quis nibh ullamcorper tempor non ultrices lacus. </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="paragraph">
                <p>[28-NOV-2024]</p>

                <div class=".h4" class="Sub_headings" style="padding: 5px 0px;">
                    <a [routerLink]="['/home']">Aenean a bibendum augue</a>
                </div>
                <p>
                    Praesent eu ligula quis nibh ullamcorper tempor non ultrices lacus. </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="paragraph">
                <p>[29-DEC-2024]</p>

                <div class=".h4" class="Sub_headings" style="padding: 5px 0px;">
                    <a [routerLink]="['/home']">Aenean a bibendum augue</a>
                </div>
                <p>
                    Praesent eu ligula quis nibh ullamcorper tempor non ultrices lacus. </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="paragraph">
                <p>[30-JAN-2025]</p>

                <div class=".h4" class="Sub_headings" style="padding: 5px 0px;">
                    <a [routerLink]="['/home']">Aenean a bibendum augue</a>
                </div>
                <p>
                    Praesent eu ligula quis nibh ullamcorper tempor non ultrices lacus. </p>
            </div>
        </div>
    </div>
</div>
</div>