
.task8_content {
    width: 100%;
    overflow: hidden;
    background-color: #5a5859;
    border-top: 2px solid black;

}
a{
    color: #ddce3c; 
    text-decoration: underline;
    cursor: pointer;
    font-size: 20px;
}

p {
    color: white;
}