<!-- task8 content block 1 -->
<div class="task8_content">
    <div class="task8_content_block1_padding">
    <div class="task8_content_block1">

       
    </div>
    </div><!-- task8 content block 1 -->
    <div class="task8_content">
        <div class="container my-5 ">
         <p>This <a [routerLink]="['/home']" >free website template</a> is brought to you by <a [routerLink]="['/home']">templatemo.com</a> website. You may use this template in your websites. Credit goes to <a [routerLink]="['/home']">Free Photos</a> for photos.</p>
    
        <p style="margin-top: 20px;">Vivamus a massa. Donec iaculis felis id neque. Morbi nunc. Praesent varius egestas velit. Donec a massa ut pede pulvinar vulputate. Nulla et augue. Sed eu nunc quis pede tristique suscipit. Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit, pellentesque mattis, faucibus vitae, feugiat vitae, sapien. Donec ante. Fusce ac orci sit amet velit ultrices condimentum.</p>
      
        <p>This <a [routerLink]="['/home']" >free website template</a> is brought to you by <a [routerLink]="['/home']">templatemo.com</a> website. You may use this template in your websites. Credit goes to <a [routerLink]="['/home']">Free Photos</a> for photos.</p>
    
        <p style="margin-top: 20px;">Vivamus a massa. Donec iaculis felis id neque. Morbi nunc. Praesent varius egestas velit. Donec a massa ut pede pulvinar vulputate. Nulla et augue. Sed eu nunc quis pede tristique suscipit. Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit, pellentesque mattis, faucibus vitae, feugiat vitae, sapien. Donec ante. Fusce ac orci sit amet velit ultrices condimentum.</p>
      
        <p>This <a [routerLink]="['/home']" >free website template</a> is brought to you by <a [routerLink]="['/home']">templatemo.com</a> website. You may use this template in your websites. Credit goes to <a [routerLink]="['/home']">Free Photos</a> for photos.</p>
    
        <p style="margin-top: 20px;">Vivamus a massa. Donec iaculis felis id neque. Morbi nunc. Praesent varius egestas velit. Donec a massa ut pede pulvinar vulputate. Nulla et augue. Sed eu nunc quis pede tristique suscipit. Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit, pellentesque mattis, faucibus vitae, feugiat vitae, sapien. Donec ante. Fusce ac orci sit amet velit ultrices condimentum.</p>
      
        <p>This <a [routerLink]="['/home']" >free website template</a> is brought to you by <a [routerLink]="['/home']">templatemo.com</a> website. You may use this template in your websites. Credit goes to <a [routerLink]="['/home']">Free Photos</a> for photos.</p>
    
        <p style="margin-top: 20px;">Vivamus a massa. Donec iaculis felis id neque. Morbi nunc. Praesent varius egestas velit. Donec a massa ut pede pulvinar vulputate. Nulla et augue. Sed eu nunc quis pede tristique suscipit. Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit, pellentesque mattis, faucibus vitae, feugiat vitae, sapien. Donec ante. Fusce ac orci sit amet velit ultrices condimentum.</p>
      
        <p>This <a [routerLink]="['/home']" >free website template</a> is brought to you by <a [routerLink]="['/home']">templatemo.com</a> website. You may use this template in your websites. Credit goes to <a [routerLink]="['/home']">Free Photos</a> for photos.</p>
    
        <p style="margin-top: 20px;">Vivamus a massa. Donec iaculis felis id neque. Morbi nunc. Praesent varius egestas velit. Donec a massa ut pede pulvinar vulputate. Nulla et augue. Sed eu nunc quis pede tristique suscipit. Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit, pellentesque mattis, faucibus vitae, feugiat vitae, sapien. Donec ante. Fusce ac orci sit amet velit ultrices condimentum.</p>
    </div>
    </div>