    <!-- task 8  header with a brand name -->
    <div class="task-8_header">
        <!-- <p>Free Stock  Photo</p> -->
        <h4 id="header_up">Free Stock Photo</h4>
        <h1 style="font-weight: bold; " id="header_brand">Lin photo</h1>
        <!-- header input field -->
        <form class="normal_form">
            <input type="text" id="search_field" placeholder="Enter keyword here...">
            <input type="button" value="search" id="search_button" routerLink="/home">  
        </form>
    </div>