
 <!-- task8 body's navbar  with six navlinks-->
 <div class="task8_navbar">
    <ul>
      <!-- nav items -->
        <li [routerLink]="['/home']" [routerLinkActive]="['active']">Home</li>
        <li [routerLink]="['/gallery']" [routerLinkActive]="['active']" >Gallery</li>
        <li [routerLink]="['/blog']" [routerLinkActive]="['active']" >Blog</li>
        <li [routerLink]="['/forum']" [routerLinkActive]="['active']" >Forum</li>
        <li [routerLink]="['/aboutus']" [routerLinkActive]="['active']">About us</li>
        <li [routerLink]="['/contactus']" [routerLinkActive]="['active']">Contact us</li>
    </ul>
  </div>
  
  
  