
            <!-- task8 content block 1 -->
            <div class="task8_content">
                <div class="task8_content_block1_padding">
            
                <!-- task8_content_block2 images -->
                <div class="task8_content_block2_images-container">
                    <div class="task8_content_block2_images">
                        <!-- bigger images -->
                        <div class="bigger-image">
                            <img src="../../../../../../../assets/night2.jpeg">
                            <div class="p"> <p>Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                                pellentesque mattis, faucibus vitae, feugiat vitae.
                           
                                Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                                pellentesque mattis, faucibus vitae, feugiat vitae.Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                                pellentesque mattis, faucibus vitae, feugiat vitae.  Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                                pellentesque mattis, faucibus vitae, feugiat vitae.Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                              </p>
                              </div> 
                        </div>
                        <div class="bigger-image">
                            <img src="../../../../../../../assets/night.jpeg">
                            <div class="p"> <p>Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                                pellentesque mattis, faucibus vitae, feugiat vitae.
                           
                                Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                                pellentesque mattis, faucibus vitae, feugiat vitae.Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                                pellentesque mattis, faucibus vitae, feugiat vitae.  Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                                pellentesque mattis, faucibus vitae, feugiat vitae.Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                              </p>
                           
                              </div> 
                        </div>
                        </div>

                        <div class="task8_content_block2_images">
                            <!-- bigger images -->
                            <div class="bigger-image">
                                <img src="../../../../../../../assets/night2.jpeg">
                                <div class="p"> <p>Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                                    pellentesque mattis, faucibus vitae, feugiat vitae.
                               
                                    Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                                    pellentesque mattis, faucibus vitae, feugiat vitae.Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                                    pellentesque mattis, faucibus vitae, feugiat vitae.  Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                                    pellentesque mattis, faucibus vitae, feugiat vitae.Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                                  </p>
                                  </div> 
                            </div>
                            <div class="bigger-image">
                                <img src="../../../../../../../assets/night.jpeg">
                                <div class="p"> <p>Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                                    pellentesque mattis, faucibus vitae, feugiat vitae.
                               
                                    Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                                    pellentesque mattis, faucibus vitae, feugiat vitae.Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                                    pellentesque mattis, faucibus vitae, feugiat vitae.  Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                                    pellentesque mattis, faucibus vitae, feugiat vitae.Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                                  </p>
                               
                                  </div> 
                            </div>
                            </div>
                    <div class="task8_content_block2_images">
                        

                        <div class="image-width">
                            <img src="../../../../../../../assets/pic3.png">
                            <div class="p"> Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                                pellentesque mattis, faucibus vitae, feugiat vitae. <a *ngIf="showData" (click)="show()" >Read more...</a>
                              <p *ngIf="!showData"   >Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                               pellentesque mattis, faucibus vitae, feugiat vitae.Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                               pellentesque mattis, faucibus vitae, feugiat vitae.</p>
                               <a *ngIf="!showData" (click)="show()" >show less</a>
                              </div> 
                        </div>
                        <div class="image-width">
                            <img src="../../../../../../../assets/pic2.png">
                            <div class="p"> Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                                pellentesque mattis, faucibus vitae, feugiat vitae. <a *ngIf="showData2" (click)="show2()" >Read more...</a>
                              <p *ngIf="!showData2"   >Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                               pellentesque mattis, faucibus vitae, feugiat vitae.Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                               pellentesque mattis, faucibus vitae, feugiat vitae.</p>
                               <a *ngIf="!showData2" (click)="show2()" >show less</a>
                              </div> 
                        </div>
                        <div class="image-width">
                            <img src="../../../../../../../assets/pic4.png">
                            <div class="p"> Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                                pellentesque mattis, faucibus vitae, feugiat vitae. <a *ngIf="showData3" (click)="show3()" >Read more...</a>
                              <p *ngIf="!showData3"   >Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                               pellentesque mattis, faucibus vitae, feugiat vitae.Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                               pellentesque mattis, faucibus vitae, feugiat vitae.</p>
                               <a *ngIf="!showData3" (click)="show3()" >show less</a>
                              </div> 
                        </div>
                        <div class="image-width">
                          
                            <img src="../../../../../../../assets/seepic.jpg">
                            <div class="p"> Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                                pellentesque mattis, faucibus vitae, feugiat vitae. <a *ngIf="showData4" (click)="show4()" >Read more...</a>
                              <p *ngIf="!showData4"   >Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                               pellentesque mattis, faucibus vitae, feugiat vitae.Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit,
                               pellentesque mattis, faucibus vitae, feugiat vitae.</p>
                               <a *ngIf="!showData4" (click)="show4()" >show less</a>
                              </div> 
                        </div>
                       
                    </div>
            
                    
                    <div class="hr_line"></div>

                </div>



</div>