
 <!-- task8-footer -->
 <div class="task-8-footer">
    <!-- footer left icon -->
    <div class="fire-icon">
        <img src="../../../../../assets/icon.png" align=right>               
     </div>
    <!-- footer navbar -->
    <div class="footer-nav-links">

        <ul>
            <li [routerLink]="['/home']" [routerLinkActive]="['actives']">Home</li><span>|</span>
            <li [routerLink]="['/gallery']" [routerLinkActive]="['actives']" >Gallery</li><span>|</span>
            <li [routerLink]="['/blog']" [routerLinkActive]="['actives']" >Blog</li><span>|</span>
            <li [routerLink]="['/forum']" [routerLinkActive]="['actives']" >Forum</li><span>|</span>
            <li [routerLink]="['/aboutus']" [routerLinkActive]="['actives']">About us</li><span>|</span>
            <li [routerLink]="['/contactus']" [routerLinkActive]="['actives']">Contact us</li>
        </ul>
        <!-- footer data -->
        <p style="text-align:center">Copyright 2014
                <a>Your Company Name</a>&nbsp;  <span>|</span> Designed by
                <a>Free Css Templete</a>
            </p>
        <div class="footer-two-button"  >
            <!-- <div style="padding: 10px;background: linear-gradient(to right, #ffffff 30%, #fafa0b 100%); margin: 10px; border: 2px solid grey">  <span style="color: blue;font-size: 20px"><b>W3</b></span>&nbsp Html 1.0</div>
   
                <div style="padding: 10px;background: linear-gradient(to right, #ffffff 30%, #b2cde0 100%);  margin: 10px; border: 2px solid grey">  <span style="color: blue;font-size: 20px"><b>W3</b></span>&nbsp Css</div> -->
            <img  src="../../../../../assets/w3c.jpg" routerLink="/home">
                <p routerLink="/home" id="h_tml"><b>html <br>1.0</b> <i class="fa fa-check" aria-hidden="true"></i></p>
                <img style="margin-left: 20px;" src="../../../../../assets/w3c.jpg" routerLink="/home">
                <p routerLink="/home" id="c_ss"><b>css <br></b> <i class="fa fa-check" aria-hidden="true" ></i></p>
             
        </div>

    </div>
    <!-- footer  right side icon -->
    <div class="fire-icon-right">
        <img src="../../../../../assets/icon.png">
    </div>
</div>